#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: white;
    color: #1000c1;
}

.book, .join {
    background-color: #1000c1;
    color: white;
    text-decoration: none;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: white;
    color: #1000c1;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #1000c1;
}  

header {
    background-color:#0CCA4A;
    color: white;
}

body {
    background-color: white; 
    font-family: Roboto, Helvetica, sans-serif;;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer {
    background-color:#0CCA4A;
    color: #1000c1;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    text-decoration: none; 
    color: #1000c1;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  

.msg {
    background-color:#0CCA4A;
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    background-color: transparent;
    color: white;
}

.msg p {
    background-color: transparent;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

