#content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: rgba(12, 202, 74, .3);
  color: white;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 1fr;
}

.logo {
  width: auto;
  height: 80px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a{
  text-align: center;
  color: rgb(0, 255, 42);
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
  background-color: rgb(0, 255, 42);
  color: #1000c1;
}

 /*This part is the slider css*/ 

  #slider {
    position: relative;
    width: 500px;
    height: 265px;
  
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
    float: left;
  }
  #slider ul li img{
    width: 500px;
    height: 265px;
  }
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }